body {
    background-color: darkblue;}
    

.titlebox {
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 35%;
    border: 15px ridge grey;
    padding: 50px;
    margin: 20px;
    text-align: center;
    margin: auto;
}
.block {
    height: 100px;
}


#title {
    font-size: 200%;
    margin: auto;
}

#subtitle {
    font-size: small;
   
    margin: auto;
}

#list {
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    }

.skin {
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 25%;
    height: fit-content;
    text-align: center;
    margin: auto;
    border: 10px ridge grey;
    padding: 25px;
    display: flex;
    flex: auto;
    flex-wrap: wrap-reverse;

}
#link {
    padding: 10px;
    border: 5px ridge grey;
}
