body {
    background-color: grey;
    display: inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#cover {
   position: relative;
    width: 80%;
    height: 80%;
    background-color: hotpink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-spacing: 2em;
    align-items: initial;
}
#cover2 {
   position: relative;
    width: 80%;
    height: 80%;
    background-color: hotpink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-spacing: 2em;
    align-items: inherit;
}

.box {
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 10%;
    color: indigo;
    background-color: lightblue;
    margin: 15px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;


}
img {
    height: 50%;
    width: 50%;


}