body {
    background-color: midnightblue;
}
p {
    background-color: teal;
    color: white;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
p1 {background-color: teal;
    color: white;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
    margin: 20px;
    text-align: center;
    position: fixed; top: 0; left: 475;

}
div {color: white;
    background-color: teal;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
ul {background-color: grey;
   
    
    
}
li {color: white;
    background-color: teal;
    width: 300px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    

}
h1 {font-size: 3em;
    background-color: black;
    color: white;
    text-align: center;
}
h2 {font: 500;
    font-family: cursive;
    color: red;}
h3 {font-family: fantasy;
    color: royalblue;
    background-color: salmon;
}